html,body {
  height: 100%;
  background-color: #F2F2F2;
}


.btn-transparent-core{
    border: 0px solid red; 
    width:30%;
}

.btn-transparent{
    border: 0px solid red; 
    width:100%;
    text-align:right;
}

.btn-rapport{
    text-align:center;
    box-shadow: unset;
}
.btn-rapport:hover{
    background-color:#5cabe0;
    color:white;
    box-shadow: unset;
}
.btn-rapport:not(.disabled).active, .btn-outline-light:not(:disabled):not(.disabled).active{
    background-color:#5cabe0;
    color:white;
    box-shadow: unset;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}


.invisible-size{
    height:0px;
}



.rapport-map-legend{
    color:light-grey;
    font-size: 12px;
    text-align: left;    
}



.alert-center{
    margin-top:15%;
    margin-left:25%;
    margin-right:25%;
    text-align: center;
}




/* Badge renvoyant vers la méthodologie */
a.badge-info {
    margin-left:10px;
    color:white;
    background-color:#3498DB;
    font-size:15px;    
    border: 1px solid white;
}
a.badge.badge-pill.badge-info:hover {
    margin-left:10px;
    color:white;
    background-color:#3498DB;
    border: 2px solid white;
}
a.badge.badge-pill.badge-info:active, a.badge.badge-pill.badge-info:focus {
	display: inline-block;
	padding-right: .6em;
	padding-left: .6em;
	font-size:15px;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 10rem;
    line-height: 1;
    white-space: nowrap;
    margin-bottom:0px;
    color:white;
    background-color:#3498DB;
    border: 1px solid white;
}    

a.badge-info-collapsed {
    margin-left:10px;
    color:#6C757D;
    background-color:white;
    font-size:15px;
    border: 1px solid #6C757D;
}
a.badge.badge-pill.badge-info-collapsed:hover {
    margin-left:10px;
    color:#6C757D;
    background-color:white;
    font-size:15px;
    border: 2px solid #6C757D;
}
a.badge.badge-pill.badge-info-collapsed:active, a.badge.badge-pill.badge-info-collapsed:focus {
	display: inline-block;
	padding-right: .6em;
	padding-left: .6em;
	font-size:15px;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 10rem;
    line-height: 1;
    white-space: nowrap;
    margin-bottom:0px;
    color:#6C757D;
    background-color:white;
    border: 1px solid #6C757D;
} 




/* -----------------------    CSS    Tooltips    ------------------------*/
.leaflet-tooltip-top:before, .leaflet-tooltip-bottom:before, .leaflet-tooltip-left:before, .leaflet-tooltip-right:before {
    border: 0px solid transparent;
}
.tooltip-a{
    background-color:rgba(0, 0, 0, 0.0);
    border-style:none;
    box-shadow: none;
    font-size:12px;
    font-weight: 600;
    font-family: font-family: 'Montserrat', sans-serif;
/*     line-height: 28px; */
    color: #212529; /*  #F2F2F2; */
   /*  overflow-wrap: break-word;   */
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;   
}



/* -----------------------    CSS    POPUPS    ------------------------*/



.scroller {
  scrollbar-color: #e8e8e8 white;
  scrollbar-width: thin; /* thin none auto */
}
   
.leaflet-popup-content-wrapper{
    opacity: 0.8;
    background-color: white;
}

.popup-wfs-title{
    background-color: #3498DB;
    color: white;
    font-size:20px;
    font-family: font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

.popup-data-row{
    overflow:auto;
    max-height:400px !important;
    max-width:400px !important;
    min-height:300px !important;
    min-width:300px !important;  
}

.popup-wfs-field{
    display: inline-block;
    /* color: #007BFF; */
    color: #212529;
    font-weight: 600;
    font-family: font-family: 'Montserrat', sans-serif;
    font-size:14px;
    overflow-wrap: break-word;
    border-bottom: 1px solid #F5F5F5;
    margin-bottom: 3px;
}
.popup-wfs-val{
    display: inline-block;
    /* color: black; */
    color: #212529;
    font-family: font-family: 'Montserrat', sans-serif;
    font-size:14px;
    padding-left: 10px;
    overflow-wrap: break-word;
    border-bottom: 1px solid #F5F5F5;
    margin-bottom: 3px;      
/*     padding-left: 100px;  */     
}


/*---------------------------------------------------------------------*/




/* -----------------------CSS DU RAPPORT GERES ------------------------*/



.rapport-geres-titre{
    color:black;
    font-size: 26px;
    text-align: center;
    margin-top:2%; 
    margin-bottom:2%; 
}

.rapport-geres-theme{
    color:white;
    font-size: 16px;
    text-align: center;
    margin-top:2%; 
    margin-bottom:2%; 
    background-color: #3498DB;
}

#plot-gisement-rom-mwh{
    min-height:500px;
    border: 1px solid black;
    margin: 0 auto;
}
#plot-gisement-rom-t{
    min-height:500px;
    border: 1px solid black;
    margin: 0 auto;
}
#carte-rom, #carte-step, #carte-dbg, #carte-ddg, #carte-imp, #carte-alp, #carte-alp-tepos, #carte-alp-tepcv, #carte-alp-tzdzg, #carte-alp-cte{
    min-height:500px;
    border: 10px solid white;
    margin: 0 auto;
    /* width:40%;
    margin-left:4%; */
}

/* #report-block{
    min-height:200px;
    max-height:200px;
} */

.legendes{
    /* font-size:16px;
    color:black; */
    background-color: rgba(255, 255, 255, 0.5);
    font-family: font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    color: #212529; /*  #F2F2F2; */
    margin-bottom: 25px;
    font-size: 14px;
    text-align: justify;    
}




#tables-rapport-geres {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tables-rapport-geres td, #tables-rapport-geres th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tables-rapport-geres tr:nth-child(even){background-color: #f2f2f2;}

#tables-rapport-geres tr:hover {background-color: #ddd;}

#tables-rapport-geres th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}














/*---------------------------------------------------------------------*/






.layer-sous-onglet{
    font-family: font-family: 'Montserrat', sans-serif;
    /* line-height: 25px; */
    color: #3498DB;
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 18px;
    text-align: left;

}






.select-header{
    font-family: font-family: 'Montserrat', sans-serif;
    line-height: 25px;
    /*color: #212529;*/
    color: #3498DB;
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 20px;
    text-align: center;
}

.bootstrap-select .dropdown-menu li a{
    margin-bottom: 2px;
}

.legend {
    padding: 6px 8px;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;    
    
    font-family: font-family: 'Montserrat', sans-serif;
    line-height: 18px;
    color: #95a5a6;
    margin-bottom: 25px;
    font-size: 14px;
    text-align: left;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.legend .colorcircle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    padding:0px;
}
.legend-title{
    margin-bottom:10px;
}

.flex-fill {
    flex:1;
/*     display: flex;  */ 
/*     overflow: auto; */
/* min-height: 0px; */
}

.datablock{
    border: 0px solid black;    
}



.main-container{
    overflow:hidden;
}

#left-block{
    margin: 0px;
    padding: 0px;
    height:92vh;   /* NOTE IMPORTANT !!!!!!! PERMET DE NE PRESQUE PAS AVOIR DE SCROLL BAR COTE CARTE */
   /*  overflow: scroll;   */ 
}

#left-select{
    padding:0px;
}

#left-layers{
    height:auto;
    min-height:30% !important;
    margin: 0px;
    padding: 0px;    
}

#map-block {
    z-index:1;
    min-height:50% !important;
}

/* #left-select.col-md-12.bg-color-white.datablock { */
#left-select.datablock {
	margin-top: 0vh;
	margin-bottom: 0vh;
}

.theme-img{ 
	margin-top: 2%;
	margin-bottom: 10%;
}

.has_overflow{
/*     height: 50% !important; */
    overflow-y: scroll;
    overflow: scroll;
}

.layer{
    border: 0px solid black;
    margin: 0px;
    padding-top: 3%;
    padding-left: 0%;
    
    font-family: font-family: 'Montserrat', sans-serif;
    color: #212529; /*  #F2F2F2; */
    margin-bottom: 0px;
    font-size: 16px;
}
.layer-invisible{
    color:#989898;
}


/* .slider[disabled] + label { */
    /* background-color: red; */
/* } */

/* #lyr-ddg_classe_final > label:nth-child(1) > span:nth-child(2) */
/* #lyr-ddg_classe_final > label:nth-child(1) > span:nth-child(2) {
    background-color: red;
} */
/* #sld-ddg_classe_final {
    background-color: red;
} */









/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
/* --------------------CHECK BOXES BS 4----------------------------------- */
/* ---------------------------------------------------------------------------------------------- */





/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  float:right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

.switch-center {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;  
    margin-top: 10px;
    margin-bottom: 30px;
    width: 30px;
    height: 17px;
}
.switch-center input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input.default:checked + .slider {
  background-color: #444;
}
input.primary:checked + .slider {
  background-color: #2196F3;
  background-color: red;
}
input.success:checked + .slider {
  background-color: #8bc34a;
}
input.info:checked + .slider {
  background-color: #3de0f5;
}
input.info[disabled] + .slider {
  background-color: #CCCCCC;
  /* background-color: #a3a3a3; */
}
input.warning:checked + .slider {
  background-color: #FFC107;
}
input.danger:checked + .slider {
  background-color: #f44336;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */






















/* ---------------------------------------------------------------------------------------------- */






.bg-color-blue {
    background-color: #3498DB;
}
.bg-color-white {
    /* background-color: #F2F2F2; */
    background-color: white;
}
.bg-color-green {
    background-color: green;
}

h1 {
    font-family: font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	color: #15c043;
	font-weight: 400;
    text-align: center;
    margin-bottom: 8%;
    margin-top:3%;
}
h2 {
    font-family: font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #3498DB;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 5%;
}
h3 {
    font-family: font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #3498DB;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 5%;
}
h4 {
    font-family: font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    color: #95a5a6;
    margin-bottom: 25px;
    font-size: 15px;
    text-align: justify;
    font-weight: 600;
}
h5 {
    font-family: font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	color: #F2F2F2;
	font-weight: 400;
    text-align: center;
    margin-bottom: 2%;
    margin-top:0%;
}
h6 {
    font-family: font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #95a5a6;
	font-weight: 400;
    margin-bottom: 2%;
    margin-top:5%;
    margin-left:3%;
}
p {
    font-family: font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    color: #212529; /*  #F2F2F2; */
    margin-bottom: 25px;
    font-size: 16px;
    text-align: justify;
}
.p-centered {
    font-family: font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    color: #212529; /*  #F2F2F2; */
    margin-bottom: 25px;
    font-size: 16px;
    text-align: center;
}
.p-large {
    font-family: font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    color: #F2F2F2;
    margin-bottom: 0px;
    font-size: 18px;
    text-align: justify;
}
.p-large-black {
    font-family: font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    color: #212529;
    margin-bottom: 50px;
    font-size: 18px;
    text-align: justify;
}
.p-dark-centered {
    font-family: font-family: 'Montserrat', sans-serif;
    color: #95a5a6;
    text-align: center;
}
.p-dark {
    font-family: font-family: 'Montserrat', sans-serif;
    color: #95a5a6;
    text-align: left;
}
.p-dark-justify {
    font-family: font-family: 'Montserrat', sans-serif;
    color: #95a5a6;
    text-align: justify;
}
.p-dark-justify-margin-left {
    font-family: font-family: 'Montserrat', sans-serif;
    color: #95a5a6;
    text-align: justify;
    margin-bottom:1%;
    margin-top:1%;
    margin-right:1%;
    margin-left:5%;
}
.p-dark-justify-small {
    font-family: font-family: 'Montserrat', sans-serif;
    color: #95a5a6;
    text-align: justify;
    font-size: 12px;
}
.p-dark-justify-small-nomargin {
    font-family: font-family: 'Montserrat', sans-serif;
    color: #95a5a6;
    text-align: justify;
    font-size: 12px;
    margin-top: 0%;
    margin-bottom: 0%;
}
.p-dark-blue-small {
    font-family: font-family: 'Montserrat', sans-serif;
    color: #2963AE;
    font-size: 12px;
    text-align: right;
    margin-bottom: 10px;
}
.p-small-margin-bottom {
    font-family: font-family: 'Montserrat', sans-serif;
    color: #F2F2F2;
    font-size: 16px;
    text-align: right;
    margin-bottom: 10px;
    margin-right: 1%;
}
kbd {
    color: #F2F2F2;
    background-color: #479bd3;
    font-size: 12px;
    margin-bottom: 1%;
    text-align: right;
}
a {
   color: #00B5EA;
}
a:hover,a:focus {
    color: #50c3e5;
    text-decoration: none;
    outline: 0;
}

#erreur{
    font-family: font-family: 'Montserrat', sans-serif;
	font-size: 20px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;    
    color: #D8000C;
    background-color: #F8B929;    
}

.modal-title {
    font-family: font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #3498DB;
    text-align: left;
    margin-top: 0%;
    margin-bottom: 0%;    
}


/* .modal-body{
    max-height: 65vh !important;
} */
.modal-content{
    overflow:auto;
}
  
  
  
#left-viewport{
    margin-top:2%;
}
  



    

#stats-txt {
    color: #F2F2F2;
    font-size: 18px;
}
.nav-link {
    color: #F2F2F2;
    font-size: 18px;
}
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link {
    color: #F2F2F2;
    font-size: 18px;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #F2F2F2;
    font-size: 18px;
    font-weight: 600;
}

    
.dropdown-display {
    font-family: font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    color: #95a5a6;
    margin-bottom: 0%;
    margin-left:2%;
    font-size: 16px;
    text-align: justify;    
}
  
  
.acceuil {
    padding-left: 20%;
    padding-right: 2%;
    padding-bottom:3%;
}
.acceuil-right {
    padding-left: 2%;
    padding-right: 20%;
    padding-bottom:3%;    
}
.accueil-pics {
    height: 10%;
}
.accueil-logo {
    margin-top:5%;
    margin-bottom:5%;
    margin-left: auto;
    margin-right: auto;    
}
.acceuil-categories {
    padding-left: 10%;
    padding-right: 10%;
}
.acceuil-dropdown {
    background-color: #3498DB;
    border-color: #3498DB;
}
@media (max-width: 1200px) {
    .acceuil {
      padding-left:10%;
      padding-right:10%;
    }
    .acceuil-right {
      padding-left:10%;
      padding-right:10%;
    }
}
.contact {
    padding-left: 2%;
    padding-right: 5%;
}
.contact-right {
    padding-left: 2%;
    padding-right: 5%;
}
.acceuil-contact {
    padding-left: 0%;
}

.layer-header {
    padding-left: 6%;
    padding-right: 6%;
    margin-bottom:0%;
    margin-top:0%;
    padding-top:0%;
    padding-bottom:0%;
}


.data-logo {
    margin-top:5%;
    margin-bottom:5%;
    margin-left: auto;
    margin-right: auto;  
}


.dropdown-toggle {
    text-align: left;
    float:right;
}
.dropdown-toggle::after{
    float:right;
}

.dropdown-menu a {
    font-family: font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    color: #F2F2F2;
    margin-bottom: 25px;
    font-size: 16px;
    text-align: left;
}
.dropdown-menu a:hover,a:focus {
    font-family: font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    color: #CCE5F3;
    margin-bottom: 25px;
    font-size: 16px;
    text-align: left;
}
.dropdown-item:hover, .dropdown-item:focus {
    background-color: #3498DB;
} 
.dropdown-item.active {
    background-color: #3498DB;
    color: #CCE5F3;
} 

.list-group-item{
    border-bottom: 1px solid lightgrey;
}

.list-group-item.active{
    background-color: #3498DB;
    border-color: #3498DB;
} 


.map-container {
    height: 100%;
}
.map-col{
    padding-right:0%;
    padding-left:0%;
    margin-right:0%;
    margin-left:0%;    
    min-height: 60%;
}
#map-row {
    height:94%;
    background-color:red;
}
#map {
  height: 100%;
  width: 100%;
}




.desc-col {
    max-height:100%;
    overflow:auto;
    padding-left: 1%;
    padding-right: 1%;
}
#description{
    margin-top:5%;
    margin-bottom:5%;
    margin-right:10%;
    margin-left:10%;
}

.btn-accueil {
    font-family: font-family: 'Montserrat', sans-serif;
    color: #00B5EA; 
    font-size: 16px;
    border-color: #00B5EA;
    border: 0px;
}
.btn-accueil:hover {
    color: #F2F2F2; 
    background-color: #00B5EA;
}

.btn-layer {
    font-family: font-family: 'Montserrat', sans-serif;
    color: #00B5EA; 
    font-size: 16px;
    border-color: #00B5EA;
    border: 0px;
    margin-bottom:0%;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;     
}
.btn-layer:hover  {
    color: #00B5EA; 
    background-color: #00B5EA;
    margin-bottom:0%;
    border-left: 2px solid #00B5EA;
    background-color: #F2F2F2;
    font-size: 17px;
}
.btn-layer:focus, .btn-layer:active {
    color: #00B5EA; 
    /* background-color: #F2F2F2; */
    background-color: #F2F2F2; !important;
    margin-bottom:0%;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 2px solid #00B5EA;
    box-shadow: none;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;    
    font-size: 17px; 
    outline: none !important;
}
.btn.btn-outline-info.btn-layer:active, .btn.btn-outline-info.btn-layer:focus, .btn.btn-outline-info.btn-layer.active, .btn.btn-outline-info.btn-layer.focus, .btn.btn-outline-info.btn-layer.active:focus{
    color: #00B5EA; 
    background-color: #F2F2F2 !important;
    margin-bottom:0%;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 5px solid #3498DB;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;    
    font-size: 17px; 
    outline: none !important;
    box-shadow: none !important; 
}

a.badge.badge-info.float-right.badge-layer-wms{
    background-color: #F8B929; 
    margin-top: 1.5%;
}
a.badge.badge-info.float-right.badge-layer-wms:hover{
    background-color: #f9c754;
    padding: .25em .4em;  
}
a.badge.badge-info.float-right.badge-layer-wms:focus, a.badge.badge-info.float-right.badge-layer-wms:active {
    background-color: #F8B929;
    padding: .25em .4em;
    font-size: 75%;
    line-height: 1;
    font-weight: 700;
    margin-bottom:0%;
}
a.badge.badge-info.float-right.badge-layer-wfs{
    background-color: #3498DB;
    margin-top: 1.5%;
}
a.badge.badge-info.float-right.badge-layer-wfs:hover{
    background-color: #5ea9db;
    padding: .25em .4em;  
}
a.badge.badge-info.float-right.badge-layer-wfs:focus, a.badge.badge-info.float-right.badge-layer-wfs:active {
    background-color: #3498DB;
    padding: .25em .4em;
    font-size: 75%;
    line-height: 1;
    font-weight: 700;
    margin-bottom:0%;
}


.nav-home {
    font-family: font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    color: #F2F2F2;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 18px;
    text-align: justify;    
    max-width:75%;
    position: relative ;
}
@media screen and (max-width: 600px) {
    .nav-home {
        font-size: 12px;
    }
}

.breadcrumb {
    background-color:#3498DB;
    margin:0%;
    padding:0%;
    font-family: font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    color: #F2F2F2;
    margin-bottom: 0px;
    font-size: 18px;
    text-align: justify;    
}
.breadcrumb a {
    background-color:#3498DB;
    margin:0%;
    padding:0%;
    font-family: font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    color: #F2F2F2;
    margin-bottom: 0px;
    font-size: 18px;
    text-align: justify; 
    font-weight: 600;
}
.breadcrumb a:hover {
    background-color:#3498DB;
    margin:0%;
    padding:0%;
    font-family: font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    color: #CCE5F3;
    margin-bottom: 0px;
    font-size: 18px;
    text-align: justify; 
    font-weight: 600;
}
.breadcrumb >.active {
    font-family: font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    color: #F2F2F2;
    margin-bottom: 0px;
    font-size: 18px;
    text-align: justify;
    margin:0%;
    padding:0%;    
}
.breadcrumb-item + .breadcrumb-item::before{
    color: #F2F2F2;
}
@media screen and (max-width: 600px) {
    .breadcrumb a, .breadcrumb >.active {
        font-size: 12px;
    }
}





.nav {
    border: None;
    margin-bottom: 1%;
}
.nav-tabs, .nav-tabs .nav-link {
    border: 0px solid red;
} 
.nav-tabs .nav-link:active {
    margin:0%;
    background-color:#F2F2F2; 
} 
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    margin:0%;
} 
.nav-tabs .nav-link:hover {
    border-bottom: 1px solid #3498DB;
} 
.nav-tabs .nav-link:focus {
    border-bottom: 1px solid #3498DB;
    margin-top:0%;
} 
.nav-tabs > li {
    border-bottom: None;
} 
.nav-tabs > li > a{
  background-color: #F2F2F2 !important;
  border: None;
} 
.nav-tabs > li > a:focus{ 
  margin-bottom:0%;
  padding-bottom:0%;
  border: None;
} 
.nav-tabs .nav-link {
    border: 0px solid red;
    border-bottom: None;
}





.dropdown-menu a { 
    font-family: font-family: 'Montserrat', sans-serif;
    color: #95a5a6;
    text-align: justify;
}


.modal-list{ 
    margin-left: 5%;
    margin-right: 5%;
}
.text-split{ 
    word-wrap: break-word;
}

/* .table { */
/* .table.table-sm.table-striped.table-hover { */
    /* overflow: scroll; */
/* } */

/* .attributs { */
    /* overflow: auto; */
/* } */





#detail-emi-plot-sect-poll {
}
#detail-emi-plot-grdsect-poll {
}
#detail-emi-plot-sect-ges {
}
#detail-emi-plot-grdsect-ges {
}


.hlink-bluebgd {
    font-family: font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    color: #F2F2F2;
    margin-bottom: 25px;
    font-size: 16px;
    text-align: justify;
    font-weight: bold;
}


